@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ccc;
}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
}

section {
    width: 960px;
    margin: 0 auto;
}

h1, section, article {
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#botoes {
    display: block;
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 1rem;
}


button {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
}

#btlight {
    background: #ededed;
    color: #121212;
}


#btdark {
    background-color: #263238;
    color: #fff;
}

#btpink{
    background: #59022B;
    color: #fff;
}


.box {
    padding: 0.625rem;
    border-radius: 8px;
}


.light {
    background: #fff;
    color: #191919;
}

.dark {
    background: #12010B;
    color: #fff;
}

.pink{
    background: #A6034F;
    color: #fff;
}
.escura {
    background: #232222;
    color: #fff;
    border-radius: 5px;
    padding: 0.625rem;
}