body {
    background-color: #324041;
  }
  
  h1 {
    
        font-family: "VT323", monospace;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        text-align: center;
        font-size: 350%;
      
      
    }
  